/* .sidepanel {
    width: 30%;
    height: 100%;
    border: 1px;
}
.bottompanel {
    width: 70%;
    height: 20%;
    border: 1px;
}
.game-area {
    width: 70%;
    height: 80%;
    border: 1px;
} */

#playground {
    max-width: 100%;
    width: 80%;
    margin: 6%;
}